body {
	background: #333;
	background: #3F2621;
	margin: 0px;
	padding: 0px;
}
#top {
	width: 100%;
	padding: 10px 0px;
	text-align: center;
	background: #903d3d;
	background: #d5d5d5;
	box-shadow: 0px 5px 3px -3px rgba(0,0,0,0.5);
	font: 3em 'Andale Mono', Consolas, 'Courier New';
	font-variant: small-caps;
	text-transform: lowercase;
	color: #000;
	margin: 0px auto 20px auto;
}
.dark {
	color: #333;
}
.lighter {
	color: #aaa;
	font-size: 0.3em;
}
.lightest {
	color: #777;
	font-size: 0.6em;
}
.shell-wrap {
  width: 50%;
  margin: 60px auto 0 auto;
  box-shadow: 0 0 30px rgba(0,0,0,0.4);
 
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
 
.shell-top-bar {
  text-align: center;
  color: #525252;
  padding: 5px 0;
  margin: 0;
  /*text-shadow: 1px 1px 0 rgba(255,255,255,0.5);*/
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Andale Mono', Consolas, 'Courier New';
  font-size: 1.1em;
  border: 1px solid #CCCCCC;
  border-bottom: none;
 
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
 
  background: #f7f7f7; /* Old browsers */
  background: -moz-linear-gradient(top,  #f7f7f7 0%, #B8B8B8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#B8B8B8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f7f7f7 0%,#B8B8B8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#B8B8B8',GradientType=0 ); /* IE6-9 */
}
 
.shell-body {
  margin: 0;
  padding: 5px;
  list-style: none;
  background: #141414;
  color: #45D40C;
  font: 1em 'Andale Mono', Consolas, 'Courier New';
  line-height: 1.6em;
 
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
 
.shell-body li:before {
  content: '$';
  position: absolute;
  left: 0;
  top: 0;
}

.shell-body p:before {
  content: '> ';
}
 
.shell-body li {
  word-wrap: break-word;
  position: relative;
  padding: 0 0 0 15px;
}

.shell-body img {
	width: 100%;
}
.shell-body .bloody {
	color: crimson;
}
.shell-body .super {
	font-size: 1.4em;
	font-variant: small-caps;
	text-transform: lowercase;
}
.shell-body .command {
	color: goldenrod;
}
.shell-body .alert {
	color: mediumslateblue;
}